<section class="hero">
	<div class="container">
		<header class="main-nav">
			<a href="/" class="site-id">
				<img src="<%= imgpath %>/logo.svg" alt="Heroku Logo">
			</a>
			<nav>
				<ul>
					<li><a href="#">Features</a></li>
					<li><a href="#">Pricing</a></li>
					<li><a href="#">Add-ons</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Support</a></li>
					<li><a href="#">Contact</a></li>
					<li class="divider"></li>
					<li><a href="#">Login</a></li>
					<li><a class="button" href="#">Sign up</a></li>
				</ul>
			</nav>
		</header>
		<div class="hero-content">
			<article>
				<h1>Internet of Things</h1>
				<h2><span class="icon-webinar"></span> Webinar Download</h2>
			</article>
			<aside class="hero-image">
				<img src="<%= imgpath %>/hero-illo.png" alt="Internt of Things illustration">
			</aside>
		</div>
	</div>
</section>
<section class="sign-up">
	<div class="container">
		<form action="#">
			<div class="input-double">
				<input type="text" placeholder="First Name">
				<input type="text" placeholder="Last Name">
			</div>
			<input type="email" placeholder="Email Address">
			<input type="text" placeholder="Company">
			<label class="form-opt-in checkbox" for="form-opt-in">
				<input type="checkbox" id="form-opt-in" checked>
				I agree to Herokou's <a href="#">Terms of Service</a>
			</label>
			<footer>
				<button href="#"><span class="icon-download"></span> Download webinar <span>(mp4)</span></button>
			</footer>
		</form>
		<article>
			<h2>Download our exclusive webinar</h2>
			<p>Readymade butcher Banksy stumptown, raw denim seitan disrupt umami fap meh mustache farm-to-table gastropub. Farm-to-table pug cliche, Kickstarter fixie viral organic mixtape Banksy biodiesel banh mi yr. Flexitarian PBR YOLO, Williamsburg XOXO Bushwick small batch post-ironic shabby chic retro Neutra hoodie. </p>
		</article>
	</div>
</section>
<section class="centered">
	<h3>Heroku works with developers everywhere</h3>
	<ul class="logo-list">
		<li><a href="#"><img src="<%= imgpath %>logo/logo-github.png" alt="Github"></a></li>
		<li><a href="#"><img src="<%= imgpath %>logo/logo-mailchimp.png" alt="Mailchimp"></a></li>
		<li><a href="#"><img src="<%= imgpath %>logo/logo-fitbit.png" alt="FitBit"></a></li>
		<li><a href="#"><img src="<%= imgpath %>logo/logo-ted.png" alt="TED"></a></li>
		<li class="soundcloud"><a href="#"><img src="<%= imgpath %>logo/logo-soundcloud.png" alt="SoundCloud"></a></li>
		<li><a href="#"><img src="<%= imgpath %>logo/logo-facebook.png" alt="Facebook"></a></li>
	</ul>
</section>